
<h1>Project 2</h1>
	<div class="container">
            <div class = "row">
                <div class="col-md-6">
                 <button class="html-btn">HTML</button>
                </div>
                <div class="col-md-6">
                 <button class="sql-btn">MYSQL</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">
                 <button class="css-btn">CSS</button>
                </div>
                <div class="col-md-6">
                 <button class="node-btn">Node</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">
                 <button class="javascript-btn">Javascript</button>
                </div>
                <div class="col-md-6">
                 <button class="express-btn">Express</button>
                </div>  
            </div>
	</div>


<h2>Search for a different technology:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="techAdd">Tech Name:</label>
    <input type="text" id="addTech" name="name">
    <button type="submit" id="searchButton">Search</button>
  </div>

</form>
