<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Coding Bootcamp Resource Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all/contributions">User Resources</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h5 class="masthead-heading mb-0 resourcesMast animated lightSpeedIn">Browse the resorces below or contribute to our user resources</h5>
      <br>
      <br> {{#each posts}}
      <h3>{{this.title}}</h3>
      <h5 class="text-right">-Shared by {{this.User.user_name}}</h5>
      <p>{{this.content}}</p>
      <hr> {{/each}}
      <form class="create-form">
        <div class="form-group">
          <a href="/contributions/post" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language="contribute post"
            id="contributeButton">Contribute a New Post</a>
          <br>
          <br>
        </div>
      </form>
    </div>
  </div>

  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; April 2018</p>
  </div>
  <!-- /.container -->
</footer>