<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Coding Bootcamp Resource Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all/contributions">User Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0 indexMast animated lightSpeedIn">Choose a Coding Topic</h1>
            <a href="/resources/html" class="html-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="html tutorial">HTML</a>
            <a href="/resources/css" class="css-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="css tutorial">CSS</a>
            <a href="/resources/javascript" class="javascript-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="javascript tutorial">Javascript</a>
            <a href="/resources/mysql" class="sql-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="sql tutorial">MySQL</a>
            <a href="/resources/nodejs" class="node-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="node tutorial">Node</a>
            <a href="/resources/express" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="express tutorial">Express</a>
            <br>
            <br>
            <a href="/resources/react" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="react tutorial">React</a>
            <a href="/resources/python" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="python tutorial">Python</a>
            <a href="/resources/java" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="java tutorial">Java</a>
            <a href="/resources/csharp" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="csharp tutorial">C#</a>
            <a href="/resources/php" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="php tutorial">PHP</a>
            <a href="/resources/ruby" class="express-btn btn btn-primary btn-xl hvr-rectangle-in rounded-pill mt-5" data-language="ruby tutorial">Ruby</a>

        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<div class="infoSection">
    <img id="backgroundimage" src="/img/code.jpeg" border="0" alt="">
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/img/01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Get Answers to your questions....</h2>
                    <p>Stack Overflow is a question and answer site for professional and enthusiast programmers. It's built
                        and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working
                        together to build a library of detailed answers to every question about programming.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/img/04.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Write and test code....</h2>
                    <p>CodeSandbox is an online code editor. It automates things like transpiling, bundling and dependency management for you so you can easily create a new project in a single click. 
                        After creating something interesting you can show it to others by just sharing the url. CodeSandbox features a live preview to show the result of the code while you’re typing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/img/03.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Video Tutorials for step by step coding help....</h2>
                    <p>YouTube is a video sharing service where users can watch, like, share, comment and upload their own videos.
                        The video service can be accessed on PCs, laptops, tablets and via mobile phones.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="/img/05.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Collaborate and share code....</h2>
                    <p>Plunker lets you add multiple files, including community generated templates, to kick-start your project. With Plunker you can create working demos, also in collaboration with other devs, and share your work. 
                        Plunker’s source code is free and lives on its GitHub repository.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; April 2018</p>
    </div>
    <!-- /.container -->
</footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

