
<h1>Project 2</h1>
	<div class="container">
            <div class = "row">
                <div class="col-md-6">

                 <button class="languageButton" data-language = "html tutorial">HTML</button>
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "sql tutorial">MYSQL</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">

                 <button class="languageButton" data-language = "css tutorial">CSS</button>
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "node tutorial">Node</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">

                 <button class="languageButton" data-language = "javasctipt tutorial">Javascript</button>
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "express tutorial">Express</button>
                </div>  
            </div>
	</div>

<div class = "row"><div class="col-md-6"></div></div>

<div class="container">
    <div class = "row">
        <div class="col-md-12">
            <h2>Search for a different technology:</h2>
            <form class="create-form">

            <div class="form-group">
            <label for="techAdd">Tech Name:</label>
            <input type="text" id="addTech" name="name">
            <button type="submit" id="searchButton">Search</button>
            </div>

            </form>
            <br><br>
            <button class="user-btn">Users Contributions/Recources</button>
        </div>
    </div>
</div>    


<div id = "container">
    <div class="row youtubeVideos">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="videos" class="panel-heading">
                     <h3 id=tech-videos class="panel-title">YouTube Tutorials</h3>
                </div>

                <div id="youtubePanel" class="panel-body">
                                <!-- videos go here -->
                </div>
            </div>
        </div>
    </div>
</div>


<div id = "container">
    <div class="row stackoverflow">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="so-content" class="panel-heading">
                     <h3 id=tech-so class="panel-title">Stack Overflow</h3>
                </div>

                <div id="stackOverflowPanel" class="panel-body">
                                <!-- stack overflow content goes here -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id = "container">
    <div class="row codepen">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="cp-content" class="panel-heading">
                     <h3 id=tech-cp class="panel-title">Code Pen</h3>
                </div>

                <div id="codepenPanel" class="panel-body">
                                <!-- codepen content goes here -->
                </div>
            </div>
        </div>
    </div>
</div>