    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Coding Bootcamp Resource Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">User Resources</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Choose a Coding Topic</h1>
          <!-- <h2 class="masthead-subheading mb-0">or add your own....</h2> -->
          <a href="#" class="html-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "html tutorial">HTML</a>   
          <a href="#" class="css-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "css tutorial">CSS</a>
          <a href="#" class="javascript-btn btn btn-primary btn-xl rounded-pill mt-5"data-language = "javascript tutorial" >Javascript</a>
          <a href="#" class="sql-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "sql tutorial">MySQL</a>
          <a href="#" class="node-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "node tutorial">Node</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "express tutorial">Express</a><br><br>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "react tutorial">React</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "python tutorial">Python</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "java tutorial">Java</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "csharp tutorial">C#</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "php tutorial">PHP</a>
          <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "ruby tutorial">Ruby</a>
          <!-- <form class="create-form"></form>
          <div class="form-group">
              <label for="techAdd">Search for your own coding topic:</label>
              <input type="text" class="form-control" id="addTech" placeholder="examples: 'jquery', 'react', 'firebase'">
              <a href="#" class="express-btn btn btn-primary btn-xl rounded-pill mt-5" data-language = "express tutorial" id="searchButton" >Search</a><br><br>
          </div>
          </form> -->
<<<<<<< HEAD
=======
<h1>Project 2</h1>
	<div class="container">
            <div class = "row">
                <div class="col-md-6">

                 <button class="languageButton" data-language = "html tutorial">HTML</button>
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "sql tutorial">MYSQL</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">

                 <button class="languageButton" data-language = "css tutorial">CSS</button>
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "node tutorial">Node</button>
                </div>  
            </div>
            <div class = "row">
                <div class="col-md-6">
<<<<<<< HEAD
                 <button class="languageButton" data-language = "javascript tutorial">Javascript</button>
=======

                 <button class="languageButton" data-language = "javasctipt tutorial">Javascript</button>
>>>>>>> b36f44fbb6e694ca7737c0a4211479430ee303b2
                </div>
                <div class="col-md-6">
                 <button class="languageButton" data-language = "express tutorial">Express</button>
                </div>  
            </div>
	</div>

<div class = "row"><div class="col-md-6"></div></div>

<div class="container">
    <div class = "row">
        <div class="col-md-12">
            <h2>Search for a different technology:</h2>
            <form class="create-form">

            <div class="form-group">
            <label for="techAdd">Tech Name:</label>
            <input type="text" id="addTech" name="name">
            <button type="submit" id="searchButton">Search</button>
            </div>
>>>>>>> 4cf8c176beb713cf2abd78b37277b4e874773f97
=======
>>>>>>> 8b2fe3449b327a270d73d7445520ebbbc6c899b0

        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>


<div id = "container">
    <div class="row youtubeVideos">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="videos" class="panel-heading">
                     <h3 id=tech-videos class="panel-title">YouTube Tutorials</h3>
                </div>

                <div id="youtubePanel" class="panel-body">
                                <!-- videos go here -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/img/02.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Write and test code....</h2>
              <p>CodePen is a social development environment. At its heart, it allows you to write code in the browser, and see the results of it as you build. A useful and liberating tool for developers of any skill, and particularly empowering for people learning to code. We focus primarily on front-end languages like HTML, CSS, JavaScript, and preprocessing syntaxes that turn into those things.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/img/03.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Video Tutorials for step by step coding help....</h2>
              <p>YouTube is a video sharing service where users can watch, like, share, comment and upload their own videos. The video service can be accessed on PCs, laptops, tablets and via mobile phones.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; April 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>