<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Add User</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row top-30">
			<div class="col-md-4 col-sm-4">
				<a class="btn btn-default" href="/contributions">Go to User Contributions</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 offset-md-3">
				<form id="post">
					<div class="form-group">
						<label for="user">User Name:</label>
						<input placeholder="User Name" type="text" class="form-control" id="user">
						<label for="title">Title:</label>
						<input placeholder="Post Title" type="text" class="form-control" id="title">
						<br />
						<label for="body">Body:</label>
						<textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
						<div class="form-group">
							<label for="category">Select Language:</label>
							<select class="custom-select" id="languages">
								<option>HTML</option>
								<option>CSS</option>
								<option>JavaScript</option>
								<option>MySQL</option>
								<option>Node</option>
								<option>Express</option>
								<option>React</option>
								<option>Python</option>
								<option>Java</option>
								<option>C#</option>
								<option>PHP</option>
								<option>Ruby</option>
							</select>
						</div>
						<div class="form-group">
							<label for="category">Post Type:</label>
							<select class="custom-select" id="post-type">
								<option>Article</option>
								<option>Video</option>
								<option>Code Snippet</option>
								<option>Other</option>
							</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{!--
	<!-- Custom Script -->
	<script src="js/user.js" type="text/javascript"></script> --}}

</body>

</html>